<form autocomplete="on" action="/interaction/<%= uid %>/forgot-password" method="post">
  <input hidden value="<%= serverData %>" id="SERVER-DATA"/>
  <input required id="email-input" type="email" name="email" placeholder="Enter email" <% if (!params.login_hint) { %>autofocus="on"<% } else { %> value="<%= params.login_hint %>" <% } %>>
  <div hidden id="error-email"></div>
  <button type="submit" class="send-email">Send email</button>
</form>

<div hidden id="default-error">
  <a href="/interaction/<%= uid %>/forgot-password-init">Try again</a>
  or
  <a href="/interaction/<%= uid %>"> Sign up here</a>
</div>

<script>
  
  let frontRespondedToServerError = false;
  const serverData = JSON.parse(document.getElementById("SERVER-DATA").value);
  const error = serverData.error;

  if(!frontRespondedToServerError && error){ //server returning bad user input data

    document.getElementById('email-input').value = serverData.email;

    const errorEmail = document.getElementById("error-email");

    if(error.field == "email"){
      errorEmail.innerText = error.message;
      errorEmail.hidden = false;
      document.getElementById("default-error").hidden = false;
    }
    frontRespondedToServerError = true;
  }
  
</script>