<form autocomplete="on" action="/interaction/<%= uid %>/login" method="post">
  <input hidden value="<%= serverData %>" id="SERVER-DATA"/>
  
  <div class="label">Sign In</div>
  <input required id="email-input" type="email" name="email" placeholder="Email" <% if (!params.login_hint) { %>autofocus="on"<% } else { %> value="<%= params.login_hint %>" <% } %>>
  <div id="error-email" hidden></div>

  <div class="h-container">
    <div class="label">Password</div>
    <a href="/interaction/<%= uid %>/forgot-password-init">Forgotten password</a>
  </div>
  <input required id="password" type="password" name="password" placeholder="Password" <% if (params.login_hint) { %>autofocus="on"<% } %>>
  <div id="error-password" hidden></div>
  <button type="submit" class="login login-submit">SIGN IN</button>
</form>

<div class="login-help">
  <hr/>
  Or sign in with these accounts
</div>

<div class="h-container-2">

  <form autocomplete="off" action="/interaction/<%= uid %>/federated" method="post">
    <input type="hidden" name="upstream" value="google">
    <button type="submit">
      <img class="sign-in-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/2008px-Google_%22G%22_Logo.svg.png"/>
    </button>
  </form>

 
  <form autocomplete="off" action="/interaction/<%= uid %>/federated" method="post">
    <input type="hidden" name="upstream" value="apple">
    <button type="submit">
      <img class="sign-in-img" src="https://www.freepnglogos.com/uploads/apple-logo-png/apple-logo-png-dallas-shootings-don-add-are-speech-zones-used-4.png"/>
    </button>
  </form>

  <div>
    <button id="METAMASK_BTN" type="submit"></button>
  </div>

</div>

<div id="cls111">

  <form id="METAMASK-FORM" autocomplete="on" action="/interaction/<%= uid %>/metamask/login" method="post">
    <input value="<%= uid %>" hidden id="UID"/>
    <input hidden id="METAMASK-NONCE" name="metamask_nonce"/>
    <input hidden id="METAMASK-SIGNATURE" name="metamask_signature"/>

  </form>
  
  <script src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js">

    const el = document.createElement("button");
    el.textContent = "Login with Metamask";
    
    let frontRespondedToServerError = false;
    const serverData = JSON.parse(document.getElementById("SERVER-DATA").value);
    const error = serverData.error;

    if(!frontRespondedToServerError && error){ //server returning bad user input data

      document.getElementById('email-input').value = serverData.email;

      const errorEmail = document.getElementById("error-email");
      const errorPassword = document.getElementById("error-password");

      if(error.field == "email"){
        errorEmail.innerText = error.message;
        errorEmail.hidden = false;
      }

      if(error.field == "password"){
        errorPassword.innerText = error.message;
        errorPassword.hidden = false;
      }
      frontRespondedToServerError = true;
    }
    
    const el = document.getElementById("METAMASK_BTN");
    const imgUrl = "https://upload.wikimedia.org/wikipedia/commons/thumb/3/36/MetaMask_Fox.svg/1200px-MetaMask_Fox.svg.png"
    const imgEl = document.createElement("img");
    imgEl.className = "sign-in-img";
    imgEl.src = imgUrl;
    
    el.appendChild(imgEl);
    
    el.onclick = async () => {
  
      const uid = document.getElementById("UID").value;
   
      // Get the provider and signer from the browser window
      const provider = new ethers.providers.Web3Provider(window.ethereum);
  
      await provider.send("eth_requestAccounts", []);
  
      const signer = await provider.getSigner();
  
      const response = await fetch(`/interaction/${uid}/metamask/request-nonce`,  {
        method: "POST", // *GET, POST, PUT, DELETE, etc.
        mode: "cors", // no-cors, *cors, same-origin
        cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
        credentials: "same-origin", // include, *same-origin, omit
        headers: {
          "Content-Type": "application/json",
        },
        referrerPolicy: "no-referrer", // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
      });
  
      const { nonce } = await response.json()
  
      const signature = await signer.signMessage(nonce);
  
      document.getElementById("METAMASK-NONCE").value = nonce;
      document.getElementById("METAMASK-SIGNATURE").value = signature;
  
      el.textContent = 'Connected';
      el.onclick = () => {console.log('already_connected');}
      document.getElementById("METAMASK-FORM").submit();
    }
  
  
  </script>
  
  </div>

<div class="login-help">
  <hr/>
</div>

<form autocomplete="off" action="/interaction/<%= uid %>/signup-init" " method="post">
  <button type="submit" class="signup signup-submit">CREATE NEW ACCOUNT</button>
</form>

<form autocomplete="off" action="/interaction/<%= uid %>/demo/login" method="post">
  <input type="hidden" name="name" value="demo">
  <button type="submit" class="google-button">
    <p>TRY XLANTIS DEMO</p>
  </button>
</form>


<div class="login-help">
  <hr/>
  <div>By continuing you agree to Xmanna's 
    <a href="">Terms of Use</a> 
    and you confirm you have read Xmanna's
    <a href="">Privacy Policy</a> 
  </div>
</div>

<hr/>